<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/styles.css">


    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container bg">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>My Friends</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
    <!-- start of card column -->
    <div class="card-columns">
      <!-- cards -->
      <!-- use the below for jQuery -->
      <div class="card p-3">
        <blockquote class="blockquote">
          <p>${name}</p>
          <p>${phoneNumber}</p>
          <p>${email}</p>
          <p>${birthday}</p>
        </blockquote>
        <div class="card-footer">
          <i class="far fa-edit fa-lg"></i>
          <i class="far fa-trash-alt fa-lg"></i>
        </div>
      </div>
      <!-- use the above for jquery -->

      <div class="card text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Posted by <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

      <div class="card text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Posted by <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

      <div class="card text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Posted by <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

      <div class="card text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Posted by <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

      <div class="card text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Posted by <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

      <div class="card text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Posted by <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

      <div class="card text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Posted by <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

      </div>
    </div>
  </body>
</html>
