body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: cornsilk; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.jumbotron {
  background-image: url("https://static.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}
